.leaflet-marker-icon {
    background: url(../img/beer-icon.png);
    padding: 15px;
    padding-bottom: 17px;
    top: -6px;
    left: -6px;
    background-size: 100%;
}

#map_canvas{
    position:absolute; top:0; bottom:0; width:100%;
}
